.row-data input[type="text"],
textarea {
  background-color: #ffffd4;
  font-size: 18px;
  font-weight: 700;
  word-break: break-all;
}

.sub-row input[type="text"],
textarea {
  background-color: #c8f4ff;
  font-size: 15px;
  word-break: break-all;
}
div .header-data {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 11px;
}
.header-data input[type="text"],
textarea {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.parent {
  display: flex;
  position: relative;
  left:70%

}
.child {
  font-size: 13px;
  padding-left: 12px;
}

.footer-data {
  background-color: orange;
  color: black;
  // font-size: 16px;
}

.row-link {
  font-size: 14px;
  position: relative;
  left: 10px;
}

.btn {
  position: relative;
  left:5%;
  top: 3px;
  width: 150px;
}
a {
  color: blue;
}

.nameOfConstruction input[type="text"],
textarea {
  background-color: yellow;
  width: 98%;
  position: relative;
  left: 11px;
  text-align: center;
}

.nameOfwork input[type="text"],
textarea{
  background-color: rgb(0, 208, 255);
  width: 98%;
  position: relative;
  left: 11px;
  text-align: center;
}
.red{
  background-color: red;
  padding: 1px;
  color:white;
}




