<nb-card>
    <nb-card-header><span class="card-heading">
     Drawing
   </span><button *ngIf="designation === 'ADMIN'" class="header-button" (click)="addDrawing()"   nbButton status="primary"><span class="add-icon">+</span></button> </nb-card-header>
    <nb-card-body>
      <div class="parent">
        <div class="child label-size">
          Drawing :
        </div>
        <div class="child2">
          
            <app-loader></app-loader>
            <select placeholder="Site Name" [(ngModel)]="siteName" [ngModelOptions]="{standalone: true}"  (change)=" drawingTypeChange($event)">
                <option  *ngFor="let item of drawingData" [value]="item._id">{{item.name | titlecase}}</option>
          </select>
       
        </div>
        <div class="child">
          <button class="btn btn-success" *ngIf="isExport" (click)="download()">Export</button>
        </div>
        <div class="child">
          <button class="btn btn-danger" *ngIf="isExport && designation === 'ADMIN'" (click)="delete()">Delete</button>
        </div>
      </div>
  
    
    <br>
    <div class="container">
      <div class="pdf-container">
        <pdf-viewer
          [src]="imageURRRl"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 100%; height: 600px;"
        ></pdf-viewer>
      </div>
   
  </div>
      </nb-card-body>
      </nb-card>

      <ng-template  #dialogdrawing let-data let-ref="dialogRef">
        <nb-card style="width:500px">
          <nb-card-header>Add Drawing</nb-card-header>
          <nb-card-body>
            <div class="form-group row">
                <label for="siteName"  class="label col-form-label">Drawing's Name</label>
                <div class="col-sm-12">
                  <input type="text" nbInput fullWidth  [(ngModel)]=" drawingForm.name" id="work" [ngModelOptions]="{standalone: true}" >
                  <!-- <span *ngIf="error.designation" class="required">*Required</span>   -->
              </div>
              </div>
              <div class="form-group row">
              <label for="siteLoc"   class="label col-form-label">Upload File</label>
                <div class="col-sm-12">
                  <input type="file" nbInput fullWidth  id="work"  name="imageUrl" (change)="onFileChange($event)" >
                    <!-- <span *ngIf="error.email" class="required">*Required</span> -->
                    </div>
               
              </div>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton status="primary" (click)="submit()">Submit</button>&nbsp; &nbsp;<button nbButton status="basic" (click)="ref.close()">Cancel</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
      
      <ng-template #dialogdelete let-data let-ref="dialogRef">
        <nb-card  style="width:500px">
          <nb-card-header>Delete Drawing</nb-card-header>
          <nb-card-body>
           Are You Sure You Want To Delete This Drawing?
          </nb-card-body>
          <nb-card-footer>
            <button nbButton status="warning" (click)="removeDrawing()">Delete</button>&nbsp; &nbsp;<button nbButton status="basic" (click)="ref.close()">Cancel</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>