<app-loader></app-loader>
<div class="main-overview">
    <div class="overviewcard1 color1">
      <div class="overviewcard__icon">Total Expenses</div>
      <div class="overviewcard__info">	&#8377; {{totalEx }}</div>
    </div>
    <div class="overviewcard2 color2">
      <div class="overviewcard__icon">Total Transaction</div>
      <div class="overviewcard__info">	&#8377; {{totalTrans}} </div>
    </div>
    <div class="overviewcard3 color3">
      <div class="overviewcard__icon">No. Of Employee</div>
      <div class="overviewcard__info">{{totalEmployee}}</div>
    </div>
    <div class="overviewcard4 color4">
      <div class="overviewcard__icon">Total Sites</div>
      <div class="overviewcard__info">{{totalSite}}</div>
    </div>
  </div>



  <br>
  <div class="row" *ngIf="siteDetails?.length > 0">
    <div class="col-sm-9">
      <div>
        <nav>
          <input class="form-control search-box" type="text" name="siteName" [(ngModel)]="siteName2" (ngModelChange)="Search2()"
          placeholder="Search">
        </nav><br>
          <div class="container table scroll">
              <table class="dashboard-rwd-table" id="mobile-table">
                <tbody>
                  <tr>
                    <th>Site Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Total Transaction</th>
                    <th>Total Expenses</th>
                    <th>Status</th>
                  </tr>
                  <tr *ngFor="let item of siteDetails  | paginate:{itemsPerPage:4,currentPage:p2}">
                    <td data-th="Site Name">
                      {{item.siteName | titlecase}}
                    </td>
                    <td data-th="Location">
                      {{item.location | titlecase}}
                    </td>
                    <td data-th="Date">
                      {{item.date | date}}
                    </td>
                    <td data-th="Total Transaction">
                      &#8377;{{item.transAmount}}
                    </td>
                    <td data-th="Total Expenses">
                      &#8377;{{item.expenseAmount}}
                    </td>
                   
                    <td data-th="Status">
                      <div *ngIf="item.status === 'Active' ">
                          <button class="pillbutton green">Active</button>
                      </div>
                      <div *ngIf="item.status === 'Closed'">
                          <button class="pillbutton red">Closed</button>
                      </div>
                    </td>
                   
                   
                  </tr>
                 
                </tbody>
             
              </table>
              <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
            </div>
      </div>
    </div>
   
  </div>


