@import '../../styles/themes.scss';
// @import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}
@media only screen and (max-width: 768px) {
  nb-sidebar{
    display: none;
  }
}