<div id="wholecard">
<div class="card" style="text-align:center">
    <h5><b>"M/S Aayat Construction</b> </h5>
      <p>Premchak Urf Umargunj,(Ballia) U.P 277001</p>
       <p>  Mob:  9918142959,8299659467 </p>
       <p>GSTIN: 09BDKPK6991A2Z9</p>
        <p>L E D G E R</p>
        <div> (From  <input type="date" style="width:10%"  [(ngModel)]="fromDate" disabled> TO   <input type="date" style="width:10%"   [(ngModel)]="toDate"  disabled>)</div>
      <br>
        <div>  ACCOUNT: <input type="text" style="width:80%"  [(ngModel)]="accountName" disabled></div>
      
</div>
<br>
<div class="card">
    <div class="header-data">
        <input type="text" style="width:10%"  value = "Date" disabled>
        <input type="text"  style="width:10%" value = "Type" disabled>
        <input type="text" style="width:35%" value = "Particulars" disabled>
        <input type="text" style="width:10%"  value = "BillNo" disabled>
        <input type="text" style="width:10%"  value = "Debit(dr)" disabled>
        <input type="text" style="width:10%"  value = "Credit(cr)" disabled>
        <input type="text" style="width:15%"  value = "Balance" disabled>
        
    </div>
    <ng-container *ngFor="let item of data;let i = index">
        <div class="row-data">
            <input type="text" style="width:10%" [(ngModel)]= "item.date" disabled>
            <input type="text"  style="width:10%" [(ngModel)]= "item.type" disabled>
            <input type="text" style="width:35%" [(ngModel)]= "item.particulars" disabled>
            <input type="text" style="width:10%" [(ngModel)]= "item.billNo" disabled>
            <input type="text" style="width:10%" [(ngModel)]= "item.debit" disabled>
            <input type="text" style="width:10%" [(ngModel)]= "item.credit" disabled>
            <input type="text" style="width:15%" [(ngModel)]= "item.balance" disabled>
            
        </div>
        
    </ng-container>
    <div class="row-data">
        <input type="text" style="width:10%"  disabled>
        <input type="text"  style="width:10%" disabled>
        <input type="text" style="width:35%" value="Total"  disabled>
        <input type="text" style="width:10%"  disabled>
        <input type="text" style="width:10%" [(ngModel)]= "totalDebit"  disabled>
        <input type="text" style="width:10%" [(ngModel)]= "totalCredit"  disabled>
        <input type="text" style="width:15%" disabled>
        
    </div>
    <div class="row-data">
        <input type="text" style="width:10%" value="Updated"  disabled>
        <input type="text"  style="width:10%"  disabled>
        <input type="text" style="width:35%" value= "Closing Balance"  disabled>
        <input type="text" style="width:10%"  disabled>
        <input type="text" style="width:10%"   disabled>
        <input type="text" style="width:10%" [(ngModel)]= "closingBal" disabled >
        <input type="text" style="width:15%"  disabled>
       
    </div>
    <div class="row-data">
        <input type="text" style="width:10%"   disabled>
        <input type="text"  style="width:10%"  disabled>
        <input type="text" style="width:35%" value= "Grand Total"  disabled>
        <input type="text" style="width:10%"  disabled>
        <input type="text" style="width:10%" [(ngModel)]= "grandDebit"  disabled>
        <input type="text" style="width:10%" [(ngModel)]= "grandCredit"  disabled>
        <input type="text" style="width:15%"  disabled>
      
    </div>
</div>
</div>

<button styleSheetFile = "assets/css/print.css" printTitle="Ledger" printSectionId="wholecard" class="btn btn-success" ngxPrint>print</button>