
.new-rwd-table {
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.new-rwd-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  rgba(9,81,121,1);
  color: white;
}

// .new-rwd-table tr:first-child {
//   border-top: none;
//   background: #428bca;
//   color: #fff;
// }
.col-sm-2 img{
  height:60px;
  width:60px;
  margin-top:5px
}
.new-rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.new-rwd-table tr:nth-child(odd){
  background-color: #ebf3f9;
}

.new-rwd-table th {
  display: none;
}

.new-rwd-table td {
  display: block;
}

.new-rwd-table td:first-child {
  margin-top: .5em;
}

.new-rwd-table td:last-child {
  margin-bottom: .5em;
}

.new-rwd-table td:before {
  content: attr(data-label) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

#newtable button{
  background-color: transparent;
  border:none;
  img{
    height:25px;
    width:25px
  }
}
#newtable button:hover img {
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
}
.new-rwd-table th,
.new-rwd-table td {
  text-align: left;
  font-size: 12px;
}

.new-rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.new-rwd-table tr {
  border-color: #bfbfbf;
}

.new-rwd-table th,
.new-rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .new-rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .new-rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .new-rwd-table tr:focus:first-child {
    background-color: #d8e7f3;
  }
  .new-rwd-table tr:focus {
    background-color: yellow;
  }
  .new-rwd-table td:before {
    display: none;
  }
  .new-rwd-table th,
  .new-rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .new-rwd-table th:first-child,
  .new-rwd-table td:first-child {
    padding-left: 0;
  }
  .new-rwd-table th:last-child,
  .new-rwd-table td:last-child {
    padding-right: 0;
  }
  .new-rwd-table th,
  .new-rwd-table td {
    padding: 1em !important;
  }

  .col-sm-2 img{
    height: 165px;
    width: 148px;
    position: relative;
    right: 12px;
    margin: 4px;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */

h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
 .new-rwd-table tr:focus:first-child {
    background-color:yellow;
  }
 


/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .new-rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .new-rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/

#newtable button{
  background-color: transparent;
  border:none;
  img{
    height:25px;
    width:25px
  }
}

#newtable button:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

tr.normal td {
  color: black;
  background-color: white;
}
tr.highlighted td {
  color: white;
  background-color: red;
}

#newtable .selected{

backGround: rgb(36, 123, 170);
color:white
}

.nonSelect{
  background: white;
}
@media screen and (max-width: 786px) {

  .col-sm-2 img{
    width: 310px;
    height: 300px;
    background-size: contain;
    margin-top: 7px;
  }
}

#newtable .pillbutton {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#newtable .red{
  background-color: red;
}
#newtable .green{
  background-color: green;
}