<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header><span [routerLink] = "['/user']" class="card-heading">{{dialogTiltle}}</span>
       
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row">
              <div class="container">
                <form [formGroup]="empRegisterationForm" #form="ngForm" (ngSubmit)="saveData(clickTitle)">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="siteName">Site Name <span class="requiredcolor">*</span></label>
                        <select  class="form-control"
                        formControlName="siteName"
                         [ngClass]="{ 'is-invalid': submitted && f['siteName'].errors }"  placeholder="" id="siteName" (change)="siteNameChange($event)">
                          <option selected>Select Site Name</option>
                          <option *ngFor="let site of siteName" [value]="site.siteName">{{site.siteName}}</option>
                        </select>
                        <div *ngIf="submitted && f['siteName'].errors" class="invalid-feedback">
                          <div *ngIf="f['siteName'].errors['required']">Site Name is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" [disabled]="true" placeholder="" formControlName="location"
                        id="location">
                        
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
              
              
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="empN">Employee Name<span class="requiredcolor">*</span></label>
                        <input type="text" formControlName="fullName"
                        [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"
                         class="form-control" placeholder="" id="empN">
                         <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                          <div *ngIf="f['fullName'].errors['required']">Site Name is required</div>
                        </div>
                      </div>
              
              
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="designation">designation <span class="requiredcolor">*</span></label>
                        <select  class="form-control"
                        formControlName="designation"
                         [ngClass]="{ 'is-invalid': submitted && f['designation'].errors }"  placeholder="" id="siteName">
                          <option selected>Select Designation</option>
                          <option *ngFor="let item of Designation" [value]="item.id">{{item.name}}</option>
                        </select>
                        <div *ngIf="submitted && f['designation'].errors" class="invalid-feedback">
                          <div *ngIf="f['designation'].errors['required']">Designation is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
                  <!--  row   -->
              
              
                  <div class="row">
                    <div class="col-md-6">
                     
              
                      <div class="form-group">
                        <label for="status">Phone Number <span class="requiredcolor">*</span></label>
                        <input type="text" formControlName="mobileNo"
                        [ngClass]="{ 'is-invalid': submitted && f['mobileNo'].errors }"
                         class="form-control" placeholder="" id="empN">
                         <div *ngIf="submitted && f['mobileNo'].errors" class="invalid-feedback">
                          <div *ngIf="f['mobileNo'].errors['required']">Phone No is required</div>
                          <div *ngIf="f['mobileNo'].errors['numericAllow']">Please add only numeric Value.</div>
                          <div *ngIf="f['mobileNo'].errors['invalidPhoneNumber']">Please, Enter 10 digit Mobile Number.</div>  
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="work">Email<span class="requiredcolor">*</span></label>
                        <input type="text" 
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                        class="form-control" id="work" placeholder="">
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                          <div *ngIf="f['email'].errors['required']">Email is required</div>
                          <div *ngIf="f['email'].errors['pattern']">Invalid Pattern</div>  
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
                  <!--  row   -->
              
              
                  <div class="row">
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="date">Aadhaar No</label>
                        <input type="text" 
                        formControlName="adharNo"
                        [ngClass]="{ 'is-invalid': submitted && f['adharNo'].errors }"
                        class="form-control" id="date" placeholder="">
                        <div *ngIf="submitted && f['adharNo'].errors" class="invalid-feedback">
                          <div *ngIf="f['adharNo'].errors['numericAllow']">Please add only numeric Value.</div>
                          <div *ngIf="f['adharNo'].errors['invalidlength']">Please, Enter 12 digit Aadhaar Number.</div>
                        </div>
  
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="cdate">Address <span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
                        id="cdate" placeholder="">
                        <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                          <div *ngIf="f['address'].errors['required']">Address is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
                  <div class="row">
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="contact">Password<span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                        id="cdate" placeholder="">
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                          <div *ngIf="f['password'].errors['required']">Password is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="contact">Basic Pay<span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" formControlName="basicPay"
                        [ngClass]="{ 'is-invalid': submitted && f['basicPay'].errors }"
                        id="cdate" placeholder="">
                        <div *ngIf="submitted && f['basicPay'].errors" class="invalid-feedback">
                          <div *ngIf="f['basicPay'].errors['required']">Basic Pay is required</div>
                        </div>
                      </div>
                    
                    </div>
                    <!--  col-md-6   -->
                  </div>

                  <div class="row">
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="contact">Bank Name<span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" formControlName="bankName"
                        [ngClass]="{ 'is-invalid': submitted && f['bankName'].errors }"
                        id="cdate" placeholder="">
                        <div *ngIf="submitted && f['bankName'].errors" class="invalid-feedback">
                          <div *ngIf="f['bankName'].errors['required']">Bank Name is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="contact">Account No<span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" formControlName="accNo"
                        [ngClass]="{ 'is-invalid': submitted && f['accNo'].errors }"
                        id="cdate" placeholder="">
                        <div *ngIf="submitted && f['accNo'].errors" class="invalid-feedback">
                          <div *ngIf="f['accNo'].errors['required']">Account No is required</div>
                        </div>
                      </div>
                    
                    </div>
                    <!--  col-md-6   -->
                  </div>

                  <div class="row">
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="contact">IFSC Code<span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" formControlName="ifsccode"
                        [ngClass]="{ 'is-invalid': submitted && f['ifsccode'].errors }"
                        id="cdate" placeholder="">
                        <div *ngIf="submitted && f['ifsccode'].errors" class="invalid-feedback">
                          <div *ngIf="f['ifsccode'].errors['required']">IFSC Code is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
                     
                    
                    </div>
                    <!--  col-md-6   -->
                  </div>
              
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
            <div class="row spacer">
            </div>
            <div class="row">
              <div class="col-md-12">
                <pre class="output">
                  <!--    Ye olde output goes here via JS.     -->
                </pre>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
   </div>
  </div>