
.row{
    display: flex;
}
.col-sm-6{
    align-items: center;
    position: relative;
    width: 50%;
    top:30px;
    button{
        padding:40px;
        margin-top: 30px;
        width: 170px;
        font-size: 18px;
        
        color:black
    }
}
.yellow button{
    background-color: #a6e9a8;
   
}
.red button{
    background-color: #fab9b9;
    
}
.userColor button{
    background-color: rgb(234, 180, 231);
  
}

.siteColor  button{
    background-color: rgb(210, 179, 249);
  
}

.attendColor button{
    background-color: #f0e788;
}

.expenseColor button{
    background-color: #bab3ed;
}
.galleryColor button{
    background-color: #9a9a9e;
}
.taskColor button{
    background-color: #ddbee1;
}
.otherToggle{
    margin-top:40px
}