


  <app-loader></app-loader>
  <ng-template #dialogdelete let-data let-ref="dialogRef">
    <nb-card  style="width:500px">
      <nb-card-header>Delete Expense</nb-card-header>
      <nb-card-body>
       Are You Sure You Want To Delete This Expenses?
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="warning" (click)="removeExpense()">Delete</button>&nbsp; &nbsp;<button nbButton status="basic" (click)="ref.close()">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
  
 

    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-sm-9">
            <span class="card-heading">
              Site Expenses 
           </span>
          </div>
          <div class="col-sm-3">
            <button class="header-button" id="header-btn" (click)="gotoAddExpenses()" nbButton status="primary">Add Expenses</button>
          </div>
        </div>
        </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth (changeTab)="fetchNews($event)">
          <nb-tab tabTitle="Daily Expenses" active="true">
            
            <div id="htmlDataDE">
               <h5 style="text-align: center;color:rgb(23, 23, 96)">{{siteNameValueheader}}-{{siteLocationNameheader}} Daily Expenses</h5>
               <!-- <div class="transactHeading">Total Transaction On Site : <b></b></div> -->
               <div class="expenses-grid">
                <table>
                  <tr>
                    <th>Total Transaction Amount</th>
                    <th>Recieving Amount (Daily Expenses)</th>
                    <th>Total Expenses</th>
                    <th>Site Amount</th>
                  </tr>
                  <tr>
                    <td>{{TotalTransactionAmount | currency:'INR'}}</td>
                    <td>{{transactionobj?.dailyExpense  | currency:'INR'}}</td>
                    <td>{{expensesService.totalExpenses(amountAfterChange) | currency:'INR'}}</td>
                    <td>{{ expensesService.getSiteAmount(transactionobj?.dailyExpense)| currency:'INR'}}</td>
                  </tr>
                  </table>
              </div>
            <div *ngFor ="let item of  amountAfterChange;index as i" class="mt-2">
              <div class="row">
                <div class="col-sm-4">
                  <span class="duration-class"><b>Duration:</b>&nbsp;{{item.date|date}}&nbsp;&nbsp; <i style="font-size:18px" (click) = "updateCalednder($event,i)" *ngIf="calenderHide" class="fa">&#xf073;</i> &nbsp;&nbsp;&nbsp;<input type="date" *ngIf="!calenderHide && enableCalenderIndex == i" [(ngModel)]="calender" (change)="handler(item)"> &nbsp; &nbsp; &nbsp;<span><i *ngIf="!calenderHide && enableCalenderIndex == i" style="color:red;" (click)="cancelCalender()" class="fa fa-close" ></i></span> </span>
                </div>
                <div class="col-sm-4">
                  <span class="duration-class"><b>SuperVisor : </b>{{item.superVisorName}}</span>
           
                </div>
                <div class="col-sm-2" id="header-btn1">
                  <button class="btn btn-danger" (click)="delete(item,i)">Delete Expense</button>
                </div>
                <div class="col-sm-2" id="header-btn1">
                  <button class="btn btn-primary" (click)="saveData(item)" *ngIf="isEdit">Update Expense</button>
                </div>
               
              </div> 
             <br>

          <div class="row grid-row">
            <div class="col-sm-2 add-row" >
              <button class="btn btn-success" (click)="addRow(item)">Add Row</button>
            </div>
            <div class="col-sm-12 table ">
              <table id="customers">
                <tr>
                  <th id="product">Product Item</th>
                  <th id="amt">Amount (₹)</th>
                  <th id="quant">Quantity</th>
                  <th>Action</th>
     
                </tr>
                <tr *ngFor ="let data of item.expenses;let j = index">
                  <td>
                    <input type="text"  [ngClass]="!data.isEdit ? 'input-border' : 'input-not-border'"  [(ngModel)]="data.productItem"   [disabled]="data.isEdit"></td>
                  <td > <input type="number" [(ngModel)]="data.amount" [ngClass]="!data.isEdit ? 'input-border' : 'input-not-border'" (blur)="onBlurEvent(item,i)"  [disabled]="data.isEdit"></td>
                  <td><input type="text" [(ngModel)]="data.quantity" [ngClass]="!data.isEdit ? 'input-border' : 'input-not-border'" [disabled]="data.isEdit"></td>
                  <td id="newtable">
                    <button class="del" (click)="remove(j,item)"  data-toggle="tooltip" data-placement="top" title="Remove">
                      <img src="../../../assets/icon/delete.png">
                    </button>
                    <button class="edit" data-toggle="tooltip" data-placement="top" (click)="editBox(j,item)"  title="Edit">
                      <img src="../../../assets/icon/edit.png" >
                    </button>
                  </td>
                  </tr> 
                  <tr id="bottom-tr">
                    <td>
                    </td>
                    <td></td>
                    <td>Total Expenses</td>
                    <td>{{item.expenseAmount | currency:'INR'}}</td>
                   </tr>
               
              </table>
            </div>
           
            </div>
            <div class="botom-icon"> <span (click)="addRow(item)"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
            <!-- &nbsp;&nbsp;&nbsp;<span (click)=" remove(i,item)"><i class="fa fa-minus" aria-hidden="true"></i></span> -->
         
            <br>
          </div>
          </div>
          </nb-tab>



          <nb-tab  tabTitle="Material On Site">    
             <div id="htmlDataMOS">
              <h5 style="text-align: center;color:rgb(23, 23, 96)">{{siteNameValueheader}}-{{siteLocationNameheader}} Material On Site</h5>
              <!-- <div class="transactHeading">Total Transaction On Site :<b>{{transactionobj?.MOSExpense | currency:'INR'}}</b></div> -->
              <div class="expenses-grid">
                <table>
                  <tr>
                    <th>Total Transaction Amount</th>
                    <th>Recieving Amount (MOS Expenses)</th>
                    <th>Total Expenses</th>
                    <th>Site Amount</th>
                  </tr>
              
                  <tr>
                    <td>{{TotalTransactionAmount | currency:'INR'}}</td>
                    <td>{{transactionobj?.MOSExpense  | currency:'INR'}}</td>
                    <td>{{expensesService.totalExpenses(amountAfterChange) | currency:'INR'}}</td>
                    <td>{{ expensesService.getSiteAmount(transactionobj?.MOSExpense)| currency:'INR'}}</td>
                  </tr>
                  </table>
              </div>
              
              
              <div *ngFor ="let item of amountAfterChange;index as i" class="mt-2" >
                
                <div class="row" >
                  <div class="col-sm-4">
                    <span class="duration-class"><b>Duration:</b>&nbsp;{{item.date|date}}&nbsp;&nbsp; <i style="font-size:18px" (click) = "updateCalednder($event,i)" *ngIf="calenderHide" class="fa">&#xf073;</i> &nbsp;&nbsp;&nbsp;<input type="date" *ngIf="!calenderHide && enableCalenderIndex == i" [(ngModel)]="calender" (change)="handler(item)"> &nbsp;<span><i *ngIf="!calenderHide && enableCalenderIndex == i" style="color:red;" (click)="cancelCalender()" class="fa fa-close" ></i></span> </span>
                  </div>
                  <div class="col-sm-4">
                    <span class="duration-class"><b>SuperVisor : </b>{{item.superVisorName}}</span>
             
                  </div>
                  <div class="col-sm-2" id="header-btn1">
                    <button class="btn btn-danger" (click)="delete(item,i)">Delete Expense</button>
                  </div>
                  <div class="col-sm-2" id="header-btn1">
                    <button class="btn btn-primary" (click)="saveData(item)" *ngIf="isEdit">Update Expense</button>
                  </div>
                 
                </div>
         
            <br>
            <div class="row grid-row">
              <div class="col-sm-2 add-row" >
                <button class="btn btn-success" (click)="addRow(item)">Add Row</button>
              </div>
              <div class="col-sm-12 table ">
                <table id="customers">
                  <tr>
                  <th id="product">Product Item</th>
                  <th id="amt">Amount</th>
                  <th id="quant">Quantity</th>
                  <th>Action</th>
       
                  </tr>
                  <tr *ngFor ="let data of item.expenses;let j= index">
                    <td >
                       <input  type="text"  [(ngModel)]="data.productItem"  [disabled]="data.isEdit">
                      </td>
                    <td> <input type="number" [(ngModel)]="data.amount" (blur)="onBlurEvent(item,i)" [disabled]="data.isEdit"></td>
                    <td><input type="text" class="number1 quantityclass" [(ngModel)]="data.quantity"  [disabled]="data.isEdit"></td>
                    <td id="newtable">
                      <button class="del" (click)="remove(j,item)"  data-toggle="tooltip" data-placement="top" title="Remove">
                        <img src="../../../assets/icon/delete.png">
                      </button>
                      <button class="edit" data-toggle="tooltip" data-placement="top" (click)="editBox(j,item)"  title="Edit">
                        <img src="../../../assets/icon/edit.png" >
                      </button>
                    </td>
                       </tr>  
                     
                       <tr id="bottom-tr">
                        <td>
                        </td>
                        <td></td>
                        <td>Total Expenses</td>
                        <td>{{item.expenseAmount | currency:'INR'}}</td>
                       </tr>
                </table>
              
              </div>
             
              </div>
              <br>
            </div>
          </div>
          </nb-tab>



          <nb-tab tabTitle="Material Out Site">
           
            <div id="htmlDataMOutS">
              <h5 style="text-align: center;color:rgb(23, 23, 96)">{{siteNameValueheader}}-{{siteLocationNameheader}} Material Out Site</h5>
              <div class="expenses-grid">
                <table>
                  <tr>
                    <th>Total Transaction Amount</th>
                    <th>Recieving Amount (MOS Expenses)</th>
                    <th>Total Expenses</th>
                    <th>Site Amount</th>
                  </tr>
                  <tr>
                    <td>{{TotalTransactionAmount | currency:'INR'}}</td>
                    <td>{{transactionobj?.MOutSExpense  | currency:'INR'}}</td>
                    <td>{{expensesService.totalExpenses(amountAfterChange) | currency:'INR'}}</td>
                    <td>{{ expensesService.getSiteAmount(transactionobj?.MOutSExpense)| currency:'INR'}}</td>
                  </tr>
                  </table>
              </div>
              
              <div *ngFor ="let item of  amountAfterChange;index as i" class="mt-2">
                
                <div class="row">
                  <div class="col-sm-4">
                    <span class="duration-class"><b>Duration:</b>&nbsp;{{item.date|date}}&nbsp;&nbsp; <i style="font-size:18px" (click) = "updateCalednder($event,i)" *ngIf="calenderHide" class="fa">&#xf073;</i> &nbsp;&nbsp;&nbsp;<input type="date" *ngIf="!calenderHide && enableCalenderIndex == i" [(ngModel)]="calender" (change)="handler(item)"> &nbsp;<span><i *ngIf="!calenderHide && enableCalenderIndex == i" style="color:red;" (click)="cancelCalender()" class="fa fa-close" ></i></span> </span>
                  </div>
                  <div class="col-sm-4">
                    <span class="duration-class"><b>SuperVisor : </b>{{item.superVisorName}}</span>
             
                  </div>
                  <div class="col-sm-2" id="header-btn1">
                    <button class="btn btn-danger" (click)="delete(item,i)">Delete Expense</button>
                  </div>
                  <div class="col-sm-2" id="header-btn1">
                    <button class="btn btn-primary" (click)="saveData(item)" *ngIf="isEdit">Update Expense</button>
                  </div>
                 
                </div>
          <br>
            <div class="row grid-row">
              <div class="col-sm-2 add-row" >
                <button class="btn btn-success" (click)="addRow(item)">Add Row</button>
              </div>
              <div class="col-sm-12 table ">
                <table id="customers">
                  <tr>
                    <th id="product">Product Item</th>
                    <th id="amt">Amount</th>
                    <th id="quant">Quantity</th>
                    <th id="quant">Action</th>
                  </tr>
                  <tr *ngFor ="let data of item.expenses;let j=index">
                    <td><input type="text"  class="itemclass" [(ngModel)]="data.productItem"  [disabled]="!editData"></td>
                    <td> <input type="number" [(ngModel)]="data.amount" (blur)="onBlurEvent(item,i)" [disabled]="!editData"></td>
                    <td><input type="text"  class="quantityclass" [(ngModel)]="data.quantity"  [disabled]="!editData"></td>
                    <td id="newtable">
                      <button class="del" (click)="remove(j,item)"  data-toggle="tooltip" data-placement="top" title="Remove">
                        <img src="../../../assets/icon/delete.png">
                      </button>
                      <button class="edit" data-toggle="tooltip" data-placement="top" (click)="editBox(j,item)"  title="Edit">
                        <img src="../../../assets/icon/edit.png" >
                      </button>
                    </td>
                   
                       </tr>
                       <tr id="bottom-tr">
                        <td>
                        </td>
                        <td></td>
                        <td>Total Expenses</td>
                        <td>{{item.expenseAmount | currency:'INR'}}</td>
                       </tr>
          
                 
                </table>
              </div>
             
              </div>
              <div class="botom-icon"> <span (click)=" addRow(item)"><i class="fa fa-plus" aria-hidden="true"></i></span></div>
             
           <br> </div>
          </div>
          </nb-tab>
        </nb-tabset>
    
      </nb-card-body>
      <nb-card-footer>
        <button styleSheetFile = "assets/css/print.css" printTitle="Expenses" printSectionId="htmlDataDE" class="btn btn-warning" ngxPrint>print</button>


      
      </nb-card-footer>
    </nb-card>

  
 