nb-checkbox {
    margin-bottom: 1rem;
  }
  .form-inline [fullWidth] {
    flex: 1;
  }
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  nb-card{
  max-width:400px;
  overflow-y: hidden;
  display: flex;
	justify-content: center;
	align-items: center;
  background-color: rgb(0, 0, 0,0.5);
  border: none;
  height: auto;
  margin: 0 auto; 
  
  float: none; /* Added */
 margin-top: 5%; /* Added */
  }

  ion-input{
    width: 100%;
    padding: 10px 5px;
    margin: 8px 0;
    height: 50px;
    color: #211f1f;
    background: white;
    font-weight: 600;
    display: inline-block;
    border: 2px solid #f7f9fc;
    box-sizing: border-box;
}

.red{
  color:red
}


nb-card-header{
 background-color:transparent;
}

@media screen and (max-width: 786px) {
  .card-heading-login span{
    text-align: center;
    color: white;
    position: relative;
    left: -6px;
    font-size: 15px;
   
    
  }
  .logo img{
    width: 33%;
      height: 31%;
      text-align: center;
      position: absolute;
      left: 32%;
      bottom: 68%;;
  }
  .logo{
    background-color: white;
      border-radius: 50%;
      width: 120px;
      height: 120px;
  }
}

@media screen and (min-width: 786px) {
  .logo{
    background-color: white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    left: 81px;
    margin-bottom: 2px;
  }
   
  .logo img{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 3%;
    bottom: 10%;
  }
  .card-heading-login span{
    text-align: center;
    color: white;
    position: relative;
    /* left: -1px; */
    font-size: 30px;
   
    
  }
}
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  {
 
}