<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header><span   [routerLink] = "['/task']"  class="card-heading">{{dialogTitle}}</span>
       
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row">
              <div class="container">
                <form [formGroup]="taskForm" #form="ngForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="siteName">Site Name <span class="requiredcolor">*</span></label>
                        <input type="text"
                        formControlName="siteName"
                        [ngClass]="{ 'is-invalid': submitted && f['siteName'].errors }"
                         class="form-control" placeholder="" id="siteName">
                        <div *ngIf="submitted && f['siteName'].errors" class="invalid-feedback">
                          <div *ngIf="f['siteName'].errors['required']">Site Name is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="last">Location <span class="requiredcolor">*</span></label>
                        <input type="text" class="form-control" placeholder="" formControlName="location"
                        [ngClass]="{ 'is-invalid': submitted && f['location'].errors }"
                        id="location">
                        <div *ngIf="submitted && f['location'].errors" class="invalid-feedback">
                          <div *ngIf="f['location'].errors['required']">Location is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
              
              
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="poNo">Task Name</label>
                        <input type="text" formControlName="taskName" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f['taskName'].errors }"
                        placeholder="" id="poNo">
                        <div *ngIf="submitted && f['taskName'].errors" class="invalid-feedback">
                          <div *ngIf="f['taskName'].errors['required']">Task Name is required</div>
                        </div>
                      </div>
              
              
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="billNo">Start Date <span class="requiredcolor">*</span></label>
                        <input type="date"
                        formControlName="startDate"
                        [ngClass]="{ 'is-invalid': submitted && f['startDate'].errors }"
                        class="form-control" id="billNo" placeholder="">
                        <div *ngIf="submitted && f['startDate'].errors" class="invalid-feedback">
                          <div *ngIf="f['startDate'].errors['required']">Start Date is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
                  <!--  row   -->
              
              
                  <div class="row">
                    <div class="col-md-6">
                     
              
                      <div class="form-group">
                        <label for="status">End Date</label>
                        <input type="date"
                        formControlName="endDate"
                        class="form-control" id="billNo" placeholder="">
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="work">Progress Status<span class="requiredcolor">*</span></label>
                        <input type="text" 
                        formControlName="progressStatus"
                        [ngClass]="{ 'is-invalid': submitted && f['progressStatus'].errors }"
                        class="form-control" id="work" placeholder="">
                        <div *ngIf="submitted && f['progressStatus'].errors" class="invalid-feedback">
                          <div *ngIf="f['progressStatus'].errors['required']">Progress Status is required</div>
                        </div>
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
                  <!--  row   -->
              
              
                  <div class="row">
                    <div class="col-md-6">
              
                      <div class="form-group">
                        <label for="date">Upload Image<span class="requiredcolor">*</span> </label>
                        <input type="file" 
                        formControlName="imageUrl"
                        (change)="onFileChange($event)" 
                        [ngClass]="{ 'is-invalid': submitted && f['imageUrl'].errors }"
                        class="form-control" id="date" placeholder="">
                        <div *ngIf="submitted && f['imageUrl'].errors" class="invalid-feedback">
                          <div *ngIf="f['imageUrl'].errors['required']">Please Upload Image</div>
                        </div>
  
                      </div>
                    </div>
                    <!--  col-md-6   -->
              
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="cdate">Total Labour</label>
                        <input type="number" class="form-control" formControlName="totalLabour" id="cdate" placeholder="">
                      </div>
                    </div>
                    <!--  col-md-6   -->
                  </div>
                  <button class="btn btn-success" style="float: right;" (click)="addLabourRow()">Add Row</button>
                  <br>
                  <table class="table table-bordered">
		              <thead>

                    <th>Labour's Name<span class="requiredcolor">*</span></th>
                    <th>Labour's Contact No<span class="requiredcolor">*</span></th>
                    <th>Labour's Charge<span class="requiredcolor">*</span></th>
                    <th>Action</th>
</thead>
<tbody formArrayName="laboursArray">
  <tr *ngFor="let t of labour.controls; let i=index;let l=last" [formGroupName]="i">
      <td>
        <input type="text" 
        required
        formControlName="name"
        
        id="contact" placeholder="">
        <div class="feedback" *ngIf="getNameControl(i,'name')?.invalid && getNameControl(i,'name')?.touched">
          <div *ngIf="getNameControl(i,'name')?.hasError('required')">
           Labour's Name is required.
          </div>
          </div>
      </td>
      <td>
        <input type="text" formControlName="contact" id="contact" placeholder="">
        <div *ngIf="getNameControl(i,'contact')?.invalid && getNameControl(i,'contact')?.touched" class="feedback">
          <div *ngIf="getNameControl(i,'contact')?.hasError('required')">
           Labour's Phone No is required.
          </div>
          <div *ngIf="getNameControl(i,'contact')?.hasError('numericAllow')">Please add only numeric Value.</div>
           <div *ngIf="getNameControl(i,'contact')?.hasError('invalidPhoneNumber')">Please, Enter 10 digit Mobile Number.</div>  
          </div>
      </td>
      <td>
        <input type="number" formControlName="charge" id="contact" placeholder="">
        <div *ngIf="getNameControl(i,'charge')?.invalid && getNameControl(i,'charge')?.touched" class="feedback">
          <div *ngIf="getNameControl(i,'charge')?.hasError('required')">
           Labour's Charge is required.
          </div>
          </div>
      </td>
      <td id="newtable" class="flex" >
        <span *ngIf="i>0">
          <button class="del"  (click)="remove(i)" data-toggle="tooltip" id="contact" data-placement="top" title="Remove">
            <img src="../../../assets/icon/delete.png">
            <!-- <i   [ngStyle]="(styleOne && byIndexingChangeColor == i  ) ?  {'color': 'red','font-size':'22px'} : {'color': 'grey','font-size':'22px'} " title="Delete"  data-toggle="tooltip" class="fa">&#xf014;</i> -->
          </button>
        </span>
      </td>
  </tr>
</tbody>
 </table>
               
                 
              
                  <button type="submit" class="btn btn-primary" (click)="saveData()">Submit</button>
                </form>
              </div>
            </div>
            <div class="row spacer">
            </div>
            <div class="row">
              <div class="col-md-12">
                <pre class="output">
                  <!--    Ye olde output goes here via JS.     -->
                </pre>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
   </div>
  </div>