
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
 
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  
nb-card{
  background-color: white;
}
.requiredcolor{
  color: red;
}
label{
  font-size: 14px;
}

.invalid-feedback{
  font-size: 12px;
}
#newtable button{
  background-color: transparent;
  border:none;
  margin: 0 auto;
display: inline;
  img{
    height:20px;
    width:20px
  }
}
#newtable button:hover img {
	-webkit-transform: scale(1.8);
	transform: scale(1.8);
}

table th{
  font-size: 12px;
}
.feedback{
  color: red;
  font-size: 12px;
}
tbody input{
  font-size: 13px;
  width: 100%;
}
@media screen and (max-width: 786px) {
  .duration-class{
    position: relative;
    left: -25px;
  }
 }

